.product-details {
    margin-top: 20px;
    min-height: 500px;
    padding: 50px;
}

.product-images {
    width: 40%;
}

.product-description-box {
    width: 60%;
    background-color: white;
}

.product-subimages:hover {
    opacity: 0.4;
}

.product-subimages:active {
    border: 1px solid red;
}

.theme-primary{
    color: hsl(26, 100%, 55%);
}

.text-large{
    font-size: 3rem;
}

.product-heading{
    width: 15ch;
}

.product-description {
    line-height: 1.8rem;
}

.discounted-price-tag{
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.discount-percentage {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-size: 16px;
    font-weight: 700;
}

.item-count-button{
    background-color: white;
    outline: none;
    border: 0;
}

.add-cart-btn{
    background-color: hsl(26, 100%, 55%);
    border: 0;
    height: 50px;
}

.add-cart-btn:hover{
    background-color: hsl(25, 100%, 66%);
}